# Spring Boot runtime
DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

SERVER_URL=

JWT_SECRET=

MAX_FILE_SIZE=
MAX_REQUEST_SIZE=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_S3_BUCKET=

DDL_AUTO_SET=update

# Local docker-compose-dev MySQL bootstrap
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=